
GoogleCloudConsole/.vs/GoogleCloudConsole/v15/.suo
*.ide-wal
*.lock
*.ide
*.ide-shm
*.cache
*.cache
GoogleCloudConsole/GoogleCloudConsole/obj/Debug/GoogleCloudConsole.csproj.CoreCompileInputs.cache
GoogleCloudConsole/.vs/GoogleCloudConsole/DesignTimeBuild/.dtbcache
*.exe
*.exe
GoogleCloudConsole/GoogleCloudConsole/bin/Debug/GoogleCloudConsole.exe
GoogleCloudClassLibrary/.vs/GoogleCloudClassLibrary/DesignTimeBuild/.dtbcache
GoogleCloudClassLibrary/.vs/GoogleCloudClassLibrary/v15/.suo
GoogleCloudClassLibrary/GoogleCloudClassLibrary/bin/Debug/GoogleCloudClassLibrary.dll
*.pdb
GoogleCloudClassLibrary/GoogleCloudClassLibrary/bin/Debug/Newtonsoft.Json.dll
GoogleCloudClassLibrary/GoogleCloudClassLibrary/bin/Debug/System.Net.Http.Formatting.dll
GoogleCloudClassLibrary/GoogleCloudClassLibrary/bin/Debug/System.Web.Http.dll
*.pdb
*.dll
*.CopyComplete
GoogleCloudClassLibrary/GoogleCloudClassLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GoogleCloudClassLibrary/GoogleCloudClassLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GoogleCloudClassLibrary/GoogleCloudClassLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.exe
GoogleCloudConsole/GoogleCloudConsole/bin/Debug/GoogleCloudConsole.exe
*.pdb
*.cache
*.cache
*.exe
*.pdb
