
*.dll
*.pdb
GoogleCloudConnectionClassLibrary/obj/Debug/netstandard2.0/GoogleCloudClassLibrary.AssemblyInfo.cs
*.cache
GoogleCloudConnectionClassLibrary/obj/Debug/netstandard2.0/GoogleCloudClassLibrary.csproj.FileListAbsolute.txt
GoogleCloudConnectionClassLibrary/obj/Debug/netstandard2.0/GoogleCloudConnectionClassLibrary.AssemblyInfo.cs
GoogleCloudConnectionClassLibrary/obj/Release/netstandard2.0/GoogleCloudClassLibrary.AssemblyInfo.cs
*.targets
.vs/GoogleCloudClassLibrary/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.lock
.vs/GoogleCloudClassLibrary/DesignTimeBuild/.dtbcache
*.CopyComplete
GoogleCloudClassLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GoogleCloudClassLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
